/*
 * MyTh Ahmed Faiz Copyright © 2016-2024 All rights reserved.
 * Email: mythpe@gmail.com
 * Mobile: +966590470092
 * Website: https://www.4myth.com
 * Github: https://github.com/mythpe
 */
@import "../fonts/stylesheet.css";

:root {
    --blue: #3490dc;
    --indigo: #6574cd;
    --purple: #9561e2;
    --pink: #f66d9b;
    --red: #e3342f;
    --orange: #f6993f;
    --yellow: #ffed4a;
    --green: #38c172;
    --teal: #4dc0b5;
    --cyan: #6cb2eb;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #ee652c;
    --secondary: #5d5c61;
    --success: #38c172;
    --info: #6cb2eb;
    --warning: #ffed4a;
    --danger: #e3342f;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --print-color: #f79f7b;
}

@-ms-viewport {
    width: device-width;
}

body {
    margin: 0;
    /* font-size: 1.2rem; */
    /* font-weight: 800; */
    /* line-height: 1.4; */
    color: #212529;
    background-color: #ffffff;
}

.pointer {
    cursor: pointer;
}

.text-decoration-underline {
    text-decoration: underline;
}

table.table-valign-middle th,
table.table-valign-middle td,
.row-valign-middle th,
.row-valign-middle td {
    vertical-align: middle !important;
}

.divider {
    border-bottom: 1px gainsboro solid;
    padding: 0;
    margin: 1px 0;
}
