/*
 * MyTh Ahmed Faiz Copyright © 2016-2024 All rights reserved.
 * Email: mythpe@gmail.com
 * Mobile: +966590470092
 * Website: https://www.4myth.com
 * Github: https://github.com/mythpe
 */

@font-face {
    font-family: 'font-sstarabic';
    font-weight: normal;
    font-display: swap;
    font-style: normal;
    src: url('SSTArabic-Roman.woff') format('woff'),
    url('SSTArabic-Roman.ttf') format('truetype'),
    url('./SSTArabic-Roman.eot') format("eot"),
    url('./SSTArabic-Roman.svg') format("svg");
}

.font-sstarabic {
    font-family: 'font-sstarabic', serif;
}
